/.git
/.github
/.husky
/.idea
/.vscode
/bootstrap/cache/*.php
/coverage
/node_modules
/public/assets
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/app/*
/vendor
_ide_helper_models.php
_ide_helper.php
.env
.php_cs.cache
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
docker-compose.yml
Dockerfile
