/.fleet
/.idea
/.phpunit.cache
/.vscode
/coverage
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
_ide_helper_models.php
_ide_helper.php
.env
.env.backup
.env.production
.php_cs.cache
.php-cs-fixer.cache
.php-cs-fixer.php
.phpactor.json
.phpstorm.meta.php
.phpunit.result.cache
auth.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.xml
yarn-error.log
.DS_Store

# JetBrains specific
*.iml
.idea
