name: Tests

on: [push]

jobs:
  test:
    name: PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - '8.1'

    env:
      extensions: mbstring, sqlite, pdo_sqlite, intl, gd

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: website_factory_tests
          POSTGRES_PASSWORD: postgres

          DB_CONNECTION: pgsql
          DB_DATABASE: website_factory_tests
          DB_USERNAME: postgres
          DB_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ env.extensions }}
          key: php-extensions-cache

      - name: Cache extensions
        uses: actions/cache@v3
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ env.extensions }}
          coverage: pcov
          tools: composer:v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: dependencies-composer-${{ hashFiles('composer.lock') }}-php-${{ matrix.php-version }}
          restore-keys: dependencies-composer-

      - name: Get npm cache directory
        id: npmcache
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.npmcache.outputs.dir }}
          key: dependencies-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: dependencies-npm-

      - name: Install composer dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Install npm dependencies
        run: npm ci --prefer-offline

      - name: Build frontend
        run: npm run production

      - name: Setup env
        run: |
          cp .env.ci .env
          php artisan key:generate --ansi

      - name: Run tests
        run: php artisan test
